html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

.landing {
    height: 100vh;
    color: white;
    font-family: "Ubuntu";
    text-align: center;
}

.overlay h1 {
    font-size: 7em;
    padding: 20vh 0 0 0;
}

.overlay p {
    font-size: 2em;
    margin: 0 20%;
}

.overlay {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}

article {
    font-family: "Open Sans";
}

section h2 {
    font-size: 8em;
    padding: 20vh 0 0 20vw;
}

section p {
    font-size: 2em;
    padding: 0 0 0 10vw;
}

body {
    overflow-x: hidden;
    font-family: "Ubuntu", "Open Sans", sans-serif;
}

.button {
    text-align: center;
    border: 1px solid black;
    color: black;
    transition: .5s ease;
    margin: 0 0 0 42vw;
    padding: 7px;
    font-size: 1.5em;
    border-radius: 2px;
    text-decoration: none;
}

.button:hover {
    color: white;
    background-color: black;
}